.Container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.Submit {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
}

.Input {
    border-radius: 20pt;
}

.Logo {
    height: 10em;
}