ion-grid {
  ion-button {
    --padding-top: 7vh;
    --padding-bottom: 7vh;
  }
}

.brown {
  --background: rgb(126, 81, 30);
}

.pink {
  --background: rgb(255, 3, 163);
}

.purple {
  --background: purple;
}

@media (orientation: landscape) {
  ion-grid {
    height: 80%;
  }
  ion-row {
    height: 50%;
  }
  ion-button {
    height: 100%;
  }
  
  ion-grid {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(8%);
  }
}