ion-grid {
  ion-button {
    --padding-top: 7vh;
    --padding-bottom: 7vh;
  }
}

@media (orientation: landscape) {
  ion-grid, ion-row, ion-button {
    height: 95%;
  }
  
  ion-grid {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(8%);
  }
}