<ion-grid *ngIf="width <= height; else landscape">
  <!-- portrait mode -->
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="play(0)" color="danger" expand="block" size="large"></ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="play(1)" color="success" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="play(2)" color="warning" expand="block" size="large"></ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="play(3)" color="light" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="play(4)" color="dark" expand="block" size="large"></ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="play(5)" color="secondary" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="play(6)" class="pink" expand="block" size="large"></ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="play(7)" color="medium" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="play(8)" class="brown" expand="block" size="large"></ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="play(9)" class="purple" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #landscape>
  <ion-grid>
    <!-- landscape mode -->
    <ion-row>
      <ion-col size="2">
        <ion-button (click)="play(0)" color="danger" expand="block" size="large"></ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(1)" color="success" expand="block" size="large"></ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(2)" color="warning" expand="block" size="large"></ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(3)" color="light" expand="block" size="large"></ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(4)" color="dark" expand="block" size="large"></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-button (click)="play(5)" color="secondary" expand="block" size="large"></ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(6)" class="pink" expand="block" size="large"></ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(7)" color="medium" expand="block" size="large"></ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(8)" class="brown" expand="block" size="large"></ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(9)" class="purple" expand="block" size="large"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>