<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="play(0)" color="danger" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="play(1)" color="success" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="play(2)" color="warning" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="play(3)" color="light" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="play(4)" color="dark" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
</ion-grid>