<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="play(0)" id="dog" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="play(1)" id="cat" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="play(2)" id="cow" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="play(3)" id="duck" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="play(4)" id="horse" expand="block" size="large"></ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
