ion-grid {
  ion-button {
    --padding-top: 7vh;
    --padding-bottom: 7vh;
  }
}

#dog {
  --background: url('../../assets/dog.jpg') no-repeat center 0 / cover;
}

#cat {
  --background: url('../../assets/cat.jpg') no-repeat center 0 / cover;
}

#cow {
  --background: url('../../assets/cow.jpg') no-repeat center 0 / cover;
}

#duck {
  --background: url('../../assets/duck.jpg') no-repeat center 0 / cover;
}

#horse {
  --background: url('../../assets/horse.jpg') no-repeat center 0 / cover;
}

#turtle {
  --background: url('../../assets/turtle.jpg') no-repeat center center / cover;
}

#parrot {
  --background: url('../../assets/parrot.jpg') no-repeat center 25% / cover;
}

#elephant {
  --background: url('../../assets/elephant.jpg') no-repeat center 0 / cover;
}

#giraffe {
  --background: url('../../assets/giraffe.jpg') no-repeat center 0 / cover;
}

#lion {
  --background: url('../../assets/lion.jpg') no-repeat center 0 / cover;
}

@media (orientation: landscape) {
  ion-grid {
    height: 80%;
  }
  ion-row {
    height: 50%;
  }
  ion-button {
    height: 100%;
  }
  
  ion-grid {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(8%);
  }

  #dog {
    --background: url('../../assets/dog.jpg') no-repeat 60% / cover;
  }
  
  #cat {
    --background: url('../../assets/cat.jpg') no-repeat center 30% / cover;
  }
  
  #cow {
    --background: url('../../assets/cow.jpg') no-repeat center 30% / cover;
  }
  
  #duck {
    --background: url('../../assets/duck.jpg') no-repeat 40% 30% / cover;
  }
  
  #horse {
    --background: url('../../assets/horse.jpg') no-repeat 26% 30% / cover;
  }

  #turtle {
    --background: url('../../assets/turtle.jpg') no-repeat 26% 30% / cover;
  }

  #parrot {
    --background: url('../../assets/parrot.jpg') no-repeat 26% 30% / cover;
  }

  #elephant {
    --background: url('../../assets/elephant.jpg') no-repeat 26% 30% / cover;
  }

  #giraffe {
    --background: url('../../assets/giraffe.jpg') no-repeat 26% 30% / cover;
  }

  #lion {
    --background: url('../../assets/lion.jpg') no-repeat 26% 30% / cover;
  }
}