<ion-card>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-input
        label="Correo electrónico"
        labelPlacement="stacked"
        type="email"
        inputmode="email"
        placeholder="j.perez@sistemas-utnfra.com.ar"
        errorText="Ingrese un correo válido"
        formControlName="email"
        class="ion-margin-bottom"
      ></ion-input>
      <ion-input
        label="Contraseña"
        labelPlacement="stacked"
        type="password"
        inputmode="text"
        errorText="Ingrese una contraseña"
        formControlName="password"
        class="ion-margin-bottom"
      ></ion-input>

      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-button size="large" color="secondary" expand="block" (click)="fill(0)" shape="round">
              <ion-icon name="person-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button size="large" color="warning" expand="block" (click)="fill(1)" shape="round">
              <ion-icon name="person-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button size="large" color="danger" expand="block" (click)="fill(2)" shape="round">
              <ion-icon name="person-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button
        color="success"
        expand="block"
        type="submit"
        class="ion-margin-bottom"
        [disabled]="form.invalid"
        size="large"
        shape="round"
        [ngClass]="{ 'pulsate-bck': form.valid }"
      >
        Iniciar sesión
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
      
      
      
    </form>
    
  </ion-card-content>
</ion-card>