<ion-grid *ngIf="width <= height; else landscape">
  <!-- portrait mode -->
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="play(0)" color="light" expand="block" size="large">1</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="play(1)" color="dark" expand="block" size="large">2</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="play(2)" color="dark" expand="block" size="large">3</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="play(3)" color="light" expand="block" size="large">4</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="play(4)" color="light" expand="block" size="large">5</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="play(5)" color="dark" expand="block" size="large">6</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="play(6)" color="dark" expand="block" size="large">7</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="play(7)" color="light" expand="block" size="large">8</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="play(8)" color="light" expand="block" size="large">9</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="play(9)" color="dark" expand="block" size="large">10</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ng-template #landscape>
  <ion-grid>
    <!-- landscape mode -->
    <ion-row>
      <ion-col size="2">
        <ion-button (click)="play(0)" color="light" expand="block" size="large">1</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(1)" color="dark" expand="block" size="large">2</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(2)" color="light" expand="block" size="large">3</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(3)" color="dark" expand="block" size="large">4</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(4)" color="light" expand="block" size="large">5</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-button (click)="play(5)" color="dark" expand="block" size="large">6</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(6)" color="light" expand="block" size="large">7</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(7)" color="dark" expand="block" size="large">8</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(8)" color="light" expand="block" size="large">9</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="play(9)" color="dark" expand="block" size="large">10</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>