<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()" size="large">
        <ion-icon name="backspace"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <router-outlet></router-outlet>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="success">
    <img [src]="langSrc">
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="setToSpanish()">
      <img [src]="assets.languages.es" alt="English">
    </ion-fab-button>
    <ion-fab-button (click)="setToEnglish()">
      <img [src]="assets.languages.en" alt="English">
    </ion-fab-button>
    <ion-fab-button (click)="setToPortuguese()">
      <img [src]="assets.languages.pt" alt="English">
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-fab slot="fixed" vertical="bottom" horizontal="start">
  <ion-fab-button color="medium">
    <img [src]="themeSrc" width="70%">
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button routerLink="animals" (click)="playAnimals()">
      <img [src]="assets.themes.animal" alt="animals" width="70%">
    </ion-fab-button>
    <ion-fab-button routerLink="numbers" (click)="playNumbers()">
      <img [src]="assets.themes.number" alt="numbers" width="70%">
    </ion-fab-button>
    <ion-fab-button routerLink="colors" (click)="playColors()">
      <img [src]="assets.themes.color" alt="colors" width="70%">
    </ion-fab-button>
  </ion-fab-list> 
</ion-fab>

<!-- <a href="https://www.freepik.com/icon/flag_10601006#fromView=resource_detail&position=13">Icon by amoghdesign</a> -->
<!-- <a href="https://www.freepik.com/icon/laughing_2172019#fromView=search&term=dog&page=1&position=40">Icon by AomAm</a> -->
<!-- <a href="https://www.freepik.com/icon/numbers_709388#fromView=search&term=numbers&page=1&position=29">Icon by Freepik</a> -->